{%- ########################################################################## 
# Label: Header
# Returns: a string or an empty object(if nothing has been entered)
# Filters: https://shopify.dev/api/liquid/objects#string 
########################################################################## -%}
<h1>{{ section.settings.header }}</h1>

{%- ########################################################################## 
# Label: Text area
# Returns: a string or an empty object(if nothing has been entered)
# Filters: https://shopify.dev/api/liquid/objects#string 
########################################################################## -%}
<p>{{ section.settings.text_area }}</p>

{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'contact_button' -%}
      {%- ########################################################################## 
      # Label: Button label
      # Returns: a string or an empty object(if nothing has been entered)
      # Filters: https://shopify.dev/api/liquid/objects#string 
      ########################################################################## -%}
      <button class="button contact-box__button open-modal">
        {{ block.settings.button_label }} 
      </button>

      {%- ########################################################################## 
      # Label: Contact buttons
      # Returns a string. i.e. the value of the selected option
      # Filters: https://shopify.dev/api/liquid/objects#string
      ########################################################################## -%}
      {% assign form_choice = block.settings.contact_buttons %}

      {% case form_choice %}
          {% when form_choice == default %}
          {% include 'custom-contact-form-1' %}
          {% when form_choice == 'request_a_trade' %}
          {% include 'custom-contact-form-2' %}
        
      {% endcase %}




      

  {%- endcase -%}
{%- endfor -%}

<script>
    const modal1 = document.querySelector(".modal")
    const openModal1 = document.querySelector(".contact-box__button")
    const closeModal1 = document.querySelector(".close-modal")

    openModal1.addEventListener('click', function() {
      modal1.showModal();
      console.log("this click event has fired")
    })
    closeModal1.addEventListener('click', function() {
      modal1.close();
    })

</script>

{% schema %}
  {
  "name": "Contact Box",
  "class": "contact-buttons",
  "max_blocks": 6,
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Find out more about this product",
      "placeholder": "Find out more about this product",
      "info": "Grab the shoppers attention to initiate engagement"
    },
    {
      "type": "textarea",
      "id": "text_area",
      "label": "Text area",
      "default": "Welcome to my shop!",
      "placeholder": "Our product is so good, but we need you to get in touch so we can offer you the best deal and quality guaranteed.",
      "info": "Get the customer to engage with you using this text"
    }
  ],
  "blocks": [
    {
      "name": "Contact button",
      "type": "contact_button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Contact Us",
          "placeholder": "this is a contact call to action, make it good",
          "info": "This text will appear on your button"
        },
        {
          "type": "select",
          "id": "contact_buttons",
          "label": "Contact buttons",
          "options": [
            {
              "value": "default",
              "label": "default"
            },
            {
              "value": "request_a_trade",
              "label": "request a trade"
            }
          ],
          "default": "default",
          "info": "Which contact form do you want for this button?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Box"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}