dialog.modal {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.dialog.modal::backdrop {
    background: #49cf1c33;
}

.custom-button {
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 750px) {
    dialog.modal {
        width: 90%;
    }
}